---
layout: personal
---
    <!-- content -->
     <section id="contact">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                   <p>
                   <table>

                     <tr>
                     <td><b>Department:</b>&nbsp;&nbsp;</td><td><a href="https://www.eur.nl/en/essb/contact"> Department of Psychology, Education and Child Studies</a></td></tr>
                    <tr>
                    <td><b>Address:</b>&nbsp;&nbsp;</td><td>P.O. Box 1738 - 3000 DR Rotterdam - Netherlands</td></tr>
                    <tr>
                    <td><b>Office:</b></td><td><a href="https://www.eur.nl/en/campus/locations/spaces/mandeville-building">Mandeville building (T)</a>, Room T16.39</td></tr>
                   <tr>
                     <td><b>Email:</b></td><td><script src="/js/mailme.js"></script></td></tr>
                    <!--
                    <tr>
                    <td><b>Phone:</b></td><td>	+31 10 408 8709</td></tr>
                    <tr><td></td><td> &nbsp; </td></tr>
                    -->
                    <td><b>Office hours:&nbsp;</b></td><td> Online with <a href="https://outlook.office365.com/owa/calendar/officehour@live.eur.nl/bookings/">appointment</a>.
                    </td>

                    </table></p>
                 </div>
             </div>
         </div>
     </section>
    <!--
    <section id="education">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 ">
                  <h3>Education</h3>
                  <hr>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {% include education.html %}
                </div>
            </div>
        </div>
    </section> -->

     <section id="publications">
         <div class="container">
           <div class="row">
               <div class="col-lg-12 "> <!-- text-center -->
                   <h2>Publications</h2>
                   <hr>
               </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                   {% include cv_publications.html %}
                 </div>
             </div>
         </div>
     </section>
     <section id="open_science">
         <div class="container">
           <div class="row">
               <div class="col-lg-12 "> <!-- text-center -->
                   <h2>Software</h2>
                   <hr>
               </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                   {% include software.html %}
                 </div>
             </div>
         </div>

     </section>
