

<ul class="simple">
<li><strong>Expyriment</strong>: An open-source and platform-independent lightweight Python
library for designing and conducting timing-critical behavioral and
neuroimaging experiments (<a class="reference external" href="http://www.expyriment.org/">http://www.expyriment.org/</a>) [<a class="reference external" href="https://github.com/expyriment/expyriment">Github</a>]</li>
<li><strong>pyForceDAQ</strong>: Python DAQ Library and Application for ATI Force Sensors and
NI-DAQ. [<a class="reference external" href="https://github.com/lindemann09/pyForceDAQ">Github</a>]</li>
<li><strong>Pytrack</strong>: Python-based Motion Tracking Software for 3D Guidance trakSTAR.
[<a class="reference external" href="https://github.com/lindemann09/pytrak">Github</a>]</li>
<li><strong>Numprod</strong>: Numerosity Production Task, <cite>doi: 10.5281/zenodo.18080 &lt;http://dx.doi.org/10.5281/zenodo.18080&gt;</cite>  [<a class="reference external" href="https://github.com/lindemann09/numerosity_production_task">Github</a>]</li>
</ul>
