

<p><a class="reference external" href="http://www.fladd.de/research/">Florian Krause</a>, 2010 - 2014, Donders
Institute for Brain, Cognition and Behaviour, Nijmegen; Title: ''<em>Numbers and
magnitude in the brain: a sensorimotor grounding of numerical cognition</em>''
(<a class="reference external" href="http://www.fladd.de/research/DoctoralThesis_FlorianKrause.pdf">pdf</a>)</p>
<p><a class="reference external" href="http://www.dcc.ru.nl/anc/index.php?staff=wiemers">Michael Wiemers</a>, 2012 -
2017,  Donders Institute for Brain, Cognition and Behaviour, Nijmegen;
Title: ''<em>An Embodied Cognition Approach to Improving the Design of
Mathematics Animations for Primary Education</em>''</p>
<p><a class="reference external" href="https://www.researchgate.net/profile/Elena_Sixtus">Elena Sixtus</a>, 2014 - 2018,  University of Potsdam; Title: ''<em>Subtle fingers - tangible numbers: The influence of finger counting experience on mental number representations.</em>''</p>
