<!DOCTYPE html>

<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include contact.html %}

    <!--
    <section id="education">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 ">
                  <h3>Education</h3>
                  <hr>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  {% include education.html %}
                </div>
            </div>
        </div>
    </section> -->

     <section id="publications">
         <div class="container">
           <div class="row">
               <div class="col-lg-12 "> <!-- text-center -->
                   <h2>Publications</h2>
                   <hr>
               </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                   {% include cv_publications.html %}
                 </div>
             </div>
         </div>
     </section>

     <section id="open_science">
         <div class="container">
           <div class="row">
               <div class="col-lg-12 "> <!-- text-center -->
                   <h2>Open Science</h2>
                   <hr>
               </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                  <h3>Open Source / Free Software</h3>
                   {% include software.html %}
                 </div>
             </div>
             <div class="row">
               <div class="col-lg-12">
                 <h3>Open Data</h3>
                 {% include opendata.html %}
               </div>
             </div>
         </div>
     </section>

     <section id="misc">
         <div class="container">
           <div class="row">
               <div class="col-lg-12 "> <!-- text-center -->
                   <h2>Doctoral Dissertations Supervised</h2>
                   <hr>
               </div>
             </div>
             <div class="row">
                 <div class="col-lg-12">
                   {% include students.html %}
                 </div>
             </div>
         </div>
     </section>

    {% include js.html %}
    </body>
</html>
